@model Events.Web.Models.EventViewModel

<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="event-box">
        <h2>@Model.Title</h2>
        <span class="date">Start: @Model.StartDateTime</span>
        <br /><span class="date">End: @Model.endDateTime</span>
       @** <br /><span class="dtr-title">Type: @Model.eventstype.name</span>*@
        @if (Model.Duration != null)
        {
            <span class="duration">(@Model.Duration.Value.ToString(@"hh\:mm") hours)</span>
        }
        @if (Model.Author != null)
        {
        }
        @if (Model.Location != null)
        {
            <div class="location"> Location: @Model.Location</div>
        }

        <div id="event-details-@Model.Id">

            @Ajax.ActionLink("More Details", "EventDetailsById", "Home",
                             new { id = Model.Id },
                             new AjaxOptions
                             {
                                 InsertionMode = InsertionMode.Replace,
                                 UpdateTargetId = "event-details-" + Model.Id
                             },new{ @class = "btn btn-primary" })

        </div>
    </div>

</div>
