@using Events.Web.Models
@model Events.Web.Models.EventInputModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Event Form</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form role="form">
                <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
                <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
                <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
                <div class="card-body">
                    <div class="form-group" >
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-auto">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", required = "required",placeholder ="Please enter Title" } })

                    </div>
                  </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EventType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-auto">
                                <select class="form-control select2" style="width: 100%;"
                                        @Html.EditorFor(model => model.EventType, new { @class ="form-control"})>
                                    <option selected="selected">Graduation</option>
                                    <option>Sports</option>
                                    <option>Conference</option>
                                    <option>Entertainment</option>
                                </select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDateTime, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-auto">
                            @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Please enter start Date" } })
                        </div>
                    </div>
                    <div class="form-group" >
                        @Html.LabelFor(model => model.endDateTime, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-auto">
                            @Html.EditorFor(model => model.endDateTime, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Please enter End Date" } })
                        </div>
                    </div>
                    

                    <script>
                        $(function () {
                            $('#StartDateTime,#endDateTime').datetimepicker({
                                useCurrent: false,
                                minDate: moment()
                            });
                            $('#StartDateTime').datetimepicker().on('dp.change', function (e) {
                                var incrementDay = moment(new Date(e.date));
                                incrementDay.add(1, 'days');
                                $('#endDateTime').data('DateTimePicker').minDate(incrementDay);
                                $(this).data("DateTimePicker").hide(); 
                            });

                            $('#endDateTime').datetimepicker().on('dp.change', function (e) {
                                var decrementDay = moment(new Date(e.date));
                                decrementDay.subtract(1, 'days');
                                $('#StartDateTime').data('DateTimePicker').maxDate(decrementDay);
                                $(this).data("DateTimePicker").hide();
                            });

                        });
                    </script>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-auto">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Please enter the Description of the event here", required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-auto">
                            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Please enter Location" } })
                        </div>
                    </div>
                    @*<button type="button" class="btn btn-primary" id="formButton">Add Speaker?</button>
                    <div class="form-group" id="form1">
                        @Html.LabelFor(model => model.SpeakerId, "List of Speakers", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-auto">
                            @Html.DropDownListFor(m => m.SpeakerName,(IEnumerable<SelectListItem>)ViewData["DBSpeakers"],"Select Speaker",new { @class = "form-control col-md-auto" })
                        @Html.DropDownList("List of Speakers", (IEnumerable<SelectListItem>)ViewData["DBSpeakers"], new { @class = "form-control" })
                        </div>
                    </div>
                        *@

                    <script>
                        $(document).ready(function () {
                            $("#formButton").click(function () {
                                $("#form1").toggle();
                            });
                        });
                    </script>

                    <div class="form-group">
                        @Html.LabelFor(model => model.maxCount,"Number of Participants", htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-auto">
                            @Html.EditorFor(model => model.maxCount, new {htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Please enter number of participants" } })
                        </div>
                        <p id="demo"></p>
                    </div>

                    <script>
                        function myFunction() {
                            var x, text;

                            // Get the value of the input field with id="numb"
                            x = document.getElementById("maxCount").value;

                            // If x is Not a Number or less than one or greater than 10
                            if (isNaN(x) || x < 1 || x > 999) {
                                text = "Input not valid";
                            } else {
                                text = "Input OK";
                            }
                            document.getElementById("demo").innerHTML = text;
                        }
                    </script>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsPublic,"Public Event", htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.IsPublic, htmlAttributes: new { @checked = "true" })
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary" onclick="myFunction()">Create</button>
                        @Html.ActionLink("Cancel", "My", null, htmlAttributes: new { @class = "btn" })
                    </div>
                </div>
            </form>
        </div>
    </div>
}
