@model Events.Web.Models.SpeakerInputForModel

@{
    ViewBag.Title = "DeleteSpeaker";
}

<h2>DeleteSpeaker</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SpeakerInputForModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpeakerTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpeakerTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventToSpeak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventToSpeak)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
