@model Events.Web.Models.EventDetailsViewModel

@*you need to add a beautiful view for viewing an event*@
@if (Model.Description != null)
{

    <div class="description">Event Type: @Model.EventTypeName</div>
    <div class="description">Description: @Model.Description</div>
}

@if (Model.Comments.Any())
{
    @:Comments:
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>
                @comment.Text
                @if (@comment.Author != null)
                {
                    @: (by @comment.Author)
                }
            </li>
        }
    </ul>
}
else
{
    <p></p>
}

@if (ViewBag.CanEdit)
{
    @Html.ActionLink("Edit", "Edit", "Events", new { id = Model.Id }, new { @class = "btn btn-default" })
    <span></span>
    @Html.ActionLink("Delete", "Delete", "Events", new { id = Model.Id }, new { @class = "btn btn-default" })
}